<div class="w-fullbg-white rounded-lg border p-1 md:p-3 m-10">
    <h3 class="font-semibold p-1">Discussion</h3>
    <div class="flex flex-col gap-5 m-3" id="comments">

        <!-- Comment Container -->
        <% @post.comments.order(id: :desc).each do |comment| %>
            <%= render partial: "comments/comment", locals: { comment: comment } %>
        <% end %>
        <!-- END Comment Container  -->





        
    </div>

    <%= render partial: 'comments/form', locals: { post: @post, comment: Comment.new } %>


</div>